#title {
  position: relative;
  left: -48px;
  font-size: 28px;
}

#highlight {
  position: relative;
  left: -46px;
  font-size: 20px;
  font-weight: 700;
  padding-top: 25px;
}

.board {
  position: relative;
  display: inline-block;
  left: -50px;
  width: 900px;
  padding: 24px;
  border: 1px solid #ebebeb;
}

input[type='checkbox'] {
  margin-top: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  accent-color: #000000;
  cursor: pointer;
}

.label_txt {
  padding-left: 8px;
  display: inline-block;
  line-height: 24px;
  vertical-align: top;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.terms_subtitle {
  margin-bottom: -4px;
}

.terms_list,
.terms_detail,
.terms_subtitle {
  font-size: 17px;
}

.terms_list {
  margin-left: -17px;
}

.terms_item {
  margin-top: 8px;
}

.chk_box {
  position: relative;
  height: 140px;
  left: 280px;
  display: inline-flex;
}

#onemore_check {
  padding-left: 10px;
}

.btn_medium {
  display: inline-flex;
  justify-content: center;
  width: 125px;
  padding: 0 18px;
  height: 42px;
  line-height: 42px;
  border-radius: 12px;
  letter-spacing: -0.14px;
  font-size: 16px;
  border: 1px solid #222222cc;
  background-color: #fff;
  color: #222222cc;
  cursor: pointer;
}

.withdrawal_btn_box {
  position: inherit;
  top: 90px;
  left: -110px;
  text-align: center;
}

#ok_btn {
  position: relative;
  left: -15px;
}

#cal_btn {
  position: absolute;

  background-color: #000000;
  color: #fff;
}

/* popup 뒷배경 start */
#popup_background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(34, 34, 34, 0.5);
  z-index: 999;
}
/* popup 뒷배경 end */

/* popup start */
#popup {
  display: none;
  top: 52%;
  left: 50%;
  position: absolute;
  box-shadow: 0 0.4rem 1rem 0 rgb(0 0 0/ 10%);
  width: 400px;
  height: 360px;
  background-color: #fff;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  z-index: 500;
}

#re_notice {
  display: inline-block;
  width: 380px;
  text-align: center;
  color: #222222cc;
  font-size: 17px;
  margin-left: 5px;
}

#checkbox_item {
  width: 370px;
  height: 30px;
  text-align: center;
}

#input05 {
  position: absolute;
  left: 18%;
  cursor: pointer;
}

#declare {
  position: absolute;
  top: 200px;
  right: 95px;
  cursor: pointer;
}

#no_out {
  display: block;
  text-align: center;
  margin-left: 30%;
  margin-top: 5%;
  width: 150px;
  line-height: 50px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 14px;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}

#getout {
  display: inline-block;
  font-size: 16px;
  color: #22222280;
  text-decoration: underline;
  margin-top: 10px;
  margin-left: 42%;
  cursor: pointer;
}

#check_msg {
  font-size: 24px;
  font-weight: 600;
  display: inline-block;
  margin-left: 6px;
  width: 380px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* popup end */

/* alert 창 start */
i.fa.fa-circle-exclamation {
  color: tomato;
  padding-right: 20px;
}

.alert-box {
  position: fixed;
  top: 0%;
  left: 40%;
  z-index: 1000;
  display: inline-block;
  background-color: #000000;
  width: 450px;
  padding: 20px;
  color: white;
  border-radius: 30px;
}
/* alert 창 end */
