section {
  padding-bottom: 100px;
}

.content_area {
  text-align: center;
}

form {
  display: inline-block;
  width: 400px;
  text-align: left;
  padding-top: 15px;
}

h2 {
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.2rem;
}

h3 {
  font-size: 13px;
}

.input_box {
  height: 70px;
}

input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: 22px;
  border-bottom: 1px solid #ebebeb;
}

input::placeholder {
  color: #222222cc;
}

input:focus {
  border-bottom: 2px solid #000000;
}

.msg {
  font-size: 14px;
}

#announcement {
  font-size: 12px;
  margin-top: 15px;
}

.tel_btn {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid #22222280;
  background-color: #fff;
  color: #222222cc;
  cursor: pointer;
}

#tel_auth {
  position: relative;
  top: -40px;
  left: 73%;
  width: 100px;
  height: 30px;
  line-height: 28px;
}

#verify {
  display: none;
}

#confirm {
  position: relative;
  top: -39px;
  left: 85%;
  width: 50px;
  height: 30px;
  line-height: 28px;
}

.checkbox_item {
  box-sizing: border-box;
}

input[type='checkbox'] {
  margin-top: 1rem;
  width: 1.4rem;
  height: 1.4rem;
  accent-color: #000000;
}

i,
.label_txt_big,
.label_txt {
  cursor: pointer;
}

i {
  margin-left: 92px;
}

.checkbox_sub {
  text-align: left;
  margin-left: 40px;
}

#plus_btn_2,
#minus_btn_2 {
  margin-left: 83px;
}

.label_txt_big,
.label_txt {
  margin-left: 5px;
}

.join_term {
  font-size: 14px;
}

.join_btn_box {
  text-align: center;
  margin-top: 35px;
}

#join_btn {
  display: inline-flex;
  justify-content: center;
  width: 400px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  background-color: #ebebeb;
  color: #fff;
  cursor: default;
}

#tel_input_error {
  margin-left: -103px;
}
