@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

li,
ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h4 {
  font-size: 2rem;
  margin: 0;
  margin-top: 0.7rem;
}

body {
  margin: 0;
}

@media all and (min-width: 768px) {
  html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 62.5%;
  }
}
.page_content {
  display: flex;
  margin: 7rem auto 0 auto;
  justify-content: center;
  max-width: 1280px;
}
.aaa {
  margin-left: 4rem;
  margin-top: 3rem;
  font-size: 3rem;
  color: #000;
}

#group2 {
  width: 30rem;
  position: relative;
}

.h1_header {
  margin-left: 4rem;
  padding-bottom: 1rem;
  font-size: 3.2rem;
  color: #000;
}
.gg {
  margin-top: -1rem;
  line-height: 2.4rem;
  margin-left: -1rem;
}
.gg_font > a {
  color: rgba(34, 34, 34, 0.5);
  font-weight: 300;
}

.menu_item {
  list-style: none;
  font-size: 1.6rem;
  margin-top: 0.3rem;
  margin-left: 5rem;
  font-weight: bold;
}
.menu_on > a {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000 !important;
}
.snb_menu > .menu_item {
  color: rgba(34, 34, 34, 0.5);
}

#bbb,
#ccc {
  padding-left: 4rem;
}
#bbb > li {
  /* font-size: #222; */
  list-style: none;
  font-size: 1.5rem;
  margin-top: 1rem;
  /* margin-left: 12rem; */
  margin-bottom: 0.7rem;
}

#ccc > li {
  /* font-size: #222; */
  list-style: none;
  font-size: 1.5rem;
  /* margin-top: 1rem; */
  /* margin-left: 12rem; */
  margin-bottom: 0.7rem;
}
.list1,
.list5 {
  font-weight: bold;
}
.list2,
.list3,
.list4,
.list6,
.list7,
.list8,
.list9 {
  color: rgb(180, 180, 180);
  font-weight: lighter;
}
