
header{
  z-index: 2;
}
div.whole{
  width: 100%;
}
h1{
  text-align: center;
  font-size:30px;
  padding-bottom: 20px;
}
div.sortnav{
  right:12% ;
  position: absolute;
  z-index:1;
}
div.sortlist{
  width: 400px;
  right:12% ;
  position: absolute;
  display: none;
  border: 1px solid #ebebeb;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 10%);
  z-index:1;
}
div.sortnav>button.sorttitle{
  color: #fff;
  background-color: #000000;
  border: 0px;
  cursor: pointer;
}

div.sortnav>img{
  position: absolute;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
ul.sortlist{
  padding-left:10px;
  overflow: hidden;
  list-style-type: none;
}

p.maindesc{
  color: rgba(34,34,34,.8);
  font-weight: bold;
}
p.subdesc{
  color: rgba(34,34,34,.5);
  font-size: 15px;
  font-weight:500;
}
/* 왼쪽 사이드바 */
div.shopnav {
  position: fixed;
  top:290px;
  left:20;
  margin-left:20px;
  float: left;
  width: 7%;
 
}

a{
  display: block;
}

h3{
  margin:0;
  font-size:24px;
  display: inline-block;
}
div.filter img{
  width: 20px;
  height: 20px;
}
div.shop{
  
  text-align: center;
  display: inline-block;
  margin-left: 120px;
  margin-top: 30px;
  width:90%;
  position: relative;
}

div.shoplist{
 text-align: left;
 width: 220px;
 padding-bottom: 3%;
 display: inline-block;
 cursor: pointer;
 z-index: 0;
}
div.img>img{
  border-radius: 3%;
}
div.sbrand>p.sbrandtext{
  font-size: 17px;
  font-weight: 700;
}


div.aprice1{
  font-size:17px;
  font-weight: 700;
}
div.aprice2{
  font-size:13px;
  color: #22222280;
}

/*변경*/
label{
  cursor: pointer;
}

div.snb_list > ul {
  /* 앞에 동그라미 점 없애기 */
  list-style-type: none;
  /* li는 왼쪽 padding 영역을 갖고 있기에 재설정 */
  padding: 0; /* 변경  */
}

/* 추가  */
div.snb_list > ul > li {
  font-size: 90%;
  padding-bottom: 10px;
  width: 100px;
}

div.snb_list > ul > li:hover {
  font-weight: bold;
}

div.snb_area > a.nuxt-link-active {
  display: inline-block;
  width: 120px;
}


div.more{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
div.more>button{width: 100px;
  height: inherit;
  color: #fff;
  font-size: 16px;
  background-color: #000000;
  margin-top: 20px;
  cursor: pointer;
}

div.more>div.listcount{
  display: none;
}
