div.content_area {
  float: right;
  width: 75%;
}

.ing{
  background-color: beige;
  width: 100%;
  height:110px;
  display: inline-block;
}
.groupIng{
  display: flex;
  justify-content: space-around;
}
#wrapper > section > div.content_area > div.inventory > div.ing > div:nth-child(1) > h4{
  border-bottom: 1px solid rgb(127, 118, 118);
  padding-bottom: 5px;
  width: 90%;
  margin-left: 50px;
  padding-bottom: 10px;
}

div.inventory {
  border-top-style: solid;
}

div.f {
  padding-top: 30px;
  display: inline-block;
}

#wrapper > section > div.content_area > div.inventory > div.f > img{
  width: 200px;
  height:200px;
}

div.desc {
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 30px;
  width: 300px;
}
 div.desc > div.sName,div.sizeCategoryName{
  margin-top: -10px;
  border-bottom: 1px solid rgb(169, 169, 169);
  padding-bottom: 5px;
  text-align: right;
}
div.desc > div.sBrand{
  margin-top: -15px;
  border-bottom: 1px solid rgb(169, 169, 169);
  padding-bottom: 5px;
  text-align: right;
}



 .choice {
  display: flex;
  justify-content: space-between; /* 각 요소 사이에 같은 간격을 유지 */
}
.choice input {
  flex: 1; /* 각 요소를 같은 너비로 설정 */
  margin-right: 100px; /* 각 요소 사이의 간격 설정 */
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}



#wrapper > section > div.content_area > div.inventory > h5{
  border-bottom: 1px solid rgb(169, 169, 169);
  padding-bottom: 10px;
}

#wrapper > section > div.content_area > div.inventory > div.address>h5{
    border-bottom: 1px solid rgb(169, 169, 169);
    padding-bottom: 10px;
  }

#wrapper > section > div.content_area > div.choice > input[type=button]{
  margin-top: 100px;
  margin-left: 400px;
  margin-right: 400px;
}

div.address>.addrPostNum,.addr,.addrDetail,.addrName,.addrRecipient{
    margin-top: -10px;
    margin-bottom: 30px;
}

div.address>.addrTel{
    margin-top: -10px;
    padding-bottom: 30px;
    border-bottom: solid;
}

#wrapper > section > div.content_area > div.inventory > h3{
  border-bottom: 1px solid rgb(169, 169, 169);
  padding-bottom: 10px;
}


#wrapper > section > div.content_area > div.inventory > div.choice > input[type=button]{
  margin-top: 80px;
  margin-left: 400px;
  margin-right: 400px;
}
