* {
  box-sizing: border-box;
}
section {
  text-align: center;
}
div.whole{
  height: auto;
  display: inline-block;
}
input#likes,input#recent,input#myStyle ,input#write,input#Cnt{
  cursor:pointer; 
  margin: 10px 10px; 
  padding: 8px 14px;
  min-width: 59px;
  text-align: center;
  font-size: 17px;
  letter-spacing: -.27px;
  background-color: #fff;
  color: #222;
  font-weight: 700;
  border-radius: 22px;
  border: solid #fff;
}
div.menuList{
margin-bottom: 20px;
}
div.stylelist {
  color:rgba(34,34,34,.8);
  text-align: left;
  display: inline;
}
div.style {
  width: 20%;
  padding: 10px;
  float: left;
  /* display: inline-block; */
}
div.style > div.img > img {
  max-width: 100%;
  max-height: 50%;
  border-radius: 10px;
}
div.style > div.styleNo {
  display: none; /*영역 없음*/
}
div.userbox{
  margin: 5px 5px;
  /* height: 20px;  */
  display: inline;
  
}
span.styleId{
  float: left;
}
span.stylelike{
  float:right;
  display: flex;
  /* align-items: center; */
}
span.styleContent{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 15px;
  overflow:hidden;
  padding-top: 5px;
}
div.tagList > span#tag {
  cursor:pointer;
  margin : 5px 5px;
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #ebebeb;
  border-radius: 12px;
  font-size: 13px;
}
span#likes{
  font-size: 18px;
  margin-right: 5px;
}
img.profile{
  height: 25px;
  border-radius: 100px;
}
span.profileId{
  margin-left: 10px;
  position:absolute;
  margin-top: 5px;
}
