h3{
    font-size: 25px;
}

hr{
    width: 100%;
    margin-top:10px;
}
div.content_area{
    float: right;
    width: 75%;
    margin-top:-5px;
    margin-bottom:30px;
}
div.mypwish{
   width:75%;
   background-color: rgb(246, 246, 246);
}
div.mywishlist{
    width:100%;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
div.left{
    float: left;
    width:20%;
    padding-right: 50px;
}
div.left>div.wzimg>img{
    cursor: pointer;
}

div.mid{
    width:40%;
    float: left;
    padding-left: 40px;
}
div.mid>div.wsbrand{
    font-size: 25px;
    padding-bottom: 10px;
}

div.mid>div.wsname{
    font-size :20px;
    padding-bottom:30px;
}

div.mid>div.wsizecategoryname{
    font-size:18px;
     padding-bottom:20px;
}
div.mid>div.wenddate{
    font-size:18px;
}
div.right{
    width:40%;
    float:right;
   padding-right:50px;

}
div.goshop>button.gssubmit{
    font-size: 15px;
    width: 60%;
    height: 100px;
    color: white;
    border-width: 0;
    border-radius: 10px;
    background-color: red;
    margin-bottom:30px;
    float: right;
    cursor: pointer;
}
div.delwish>button.zsubmit{
    font-size: 15px;
    width: 30%;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
     float: right;
    cursor: pointer;
}
div.empty_area{
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    display: none;
}
div.wpnum, div.wsnum{
    display: none;
}
/*
페이징
*/
div.center {
  text-align: center;
  width: 80%;
  padding-top: 50px;
}

.pagination {
  display: inline-block;
}

.pagination span {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  cursor: pointer;
}

#pagenum.active {
  background-color: #000000;
  color: white;
  border: 1px solid #000000;
}

.pagination span#pagenum:hover:not(.active) {
  background-color: #ddd;
}

div.pagecount{
    display: none;
}